header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #000;
}

header .header-container {
  margin: 0 auto;
  width: 89%;
}

header .header-logo a {
  color: #fff;
  display: inline-block;
}

header .header-logo a #header-logo-text {
  padding: 35px 0px;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-transition: .4s;
  transition: .4s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .header-logo a #header-logo-text:hover {
  opacity: 0.75;
}

header .header-nav {
  background: #191919;
}

header .header-nav nav {
  padding: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-nav nav .page-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-nav nav .page-links li {
  padding-right: 25px;
}

header .header-nav nav .page-links li a {
  color: #c9c9c9;
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
}

header .header-nav nav .page-links li a:hover {
  color: #fff;
}

header .header-nav nav .page-links li:last-child {
  padding-right: 0px;
}

header .header-nav nav .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-nav nav .social-links a {
  margin-right: 5px;
  width: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header-nav nav .social-links a .social-link-direct {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-nav nav .social-links a .social-link-direct ion-icon {
  color: #fff;
  font-size: 18px;
}

header .header-nav nav .social-links a:hover {
  opacity: 0.75;
}

footer {
  background: #000;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

footer .footer-container {
  margin: 0 auto;
  padding: 100px 0px;
  width: 80%;
}

footer .footer-container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

footer .footer-container .footer-links .footer-links-pages {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

footer .footer-container .footer-links .footer-links-pages ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

footer .footer-container .footer-links .footer-links-pages ul li {
  width: 100%;
}

footer .footer-container .footer-links .footer-links-pages ul li h3 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 15px;
}

footer .footer-container .footer-links .footer-links-pages ul li .link-pages a {
  display: block;
  color: #dcdcdc;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
}

footer .footer-container .footer-links .footer-links-pages ul li .link-pages a:last-child {
  margin-bottom: 0;
}

footer .footer-container .footer-links .footer-links-pages ul li .link-pages a:hover {
  color: #fff;
}

footer .footer-container .footer-links .footer-cv-sp {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-links .footer-cv-sp .footer-sp-links {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-container .footer-links .footer-cv-sp .footer-sp-links a {
  background: transparent;
  display: inline-block;
  margin-right: 15px;
  border-radius: 50px;
  padding: 18px 15px;
  width: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #fff;
}

footer .footer-container .footer-links .footer-cv-sp .footer-sp-links a .footer-sp-link-case {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .footer-links .footer-cv-sp .footer-sp-links a .footer-sp-link-case ion-icon {
  color: #fff;
  font-size: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-container .footer-links .footer-cv-sp .footer-sp-links a:hover {
  opacity: 1;
  background: #fff;
}

footer .footer-container .footer-links .footer-cv-sp .footer-sp-links a:hover ion-icon {
  color: #333;
}

footer .footer-container .footer-law {
  padding-top: 35px;
  position: relative;
}

footer .footer-container .footer-law #copyright {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

footer .footer-container .footer-law #copyright span {
  color: #EE5757;
}

footer .footer-container .footer-law p:last-child {
  color: #dcdcdc;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  display: inline;
  font-size: 14px;
}

footer .footer-container .footer-law p:last-child:hover {
  color: #fff;
}

footer .footer-container .footer-law::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
}
/*# sourceMappingURL=template.css.map */