$greyColour: #191919;

header {
    height: fit-content;
    background: #000;

    .header-container {
        margin: 0 auto;
        width: 89%;
    }

    .header-logo {
 
        a {
            color: #fff;
            display: inline-block;
        
            #header-logo-text {
                padding: 35px 0px;
                text-transform: uppercase;
                font-weight: 100;
                transition: .4s;
                width: fit-content;
            }

            #header-logo-text:hover {
                opacity: 0.75;
            }
        }
    }

    .header-nav {
        background: $greyColour;

        nav {
            padding: 12px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .page-links {
                display: flex;
                align-items: center;

                li {
                    padding-right: 25px;
                    
                    a {
                        color: #c9c9c9;
                        font-size: 14px;
                        transition: .4s;
                    }

                    a:hover {
                        color: #fff;
                    }
                }

                li:last-child {
                    padding-right: 0px;
                }
            }

            .social-links {
                display: flex;
                align-items: center;

                a {
                    margin-right: 5px;
                    width: 27px;
                    transition: 0.3s;

                    .social-link-direct {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        ion-icon {
                            color: #fff;
                            font-size: 18px;
                        }
                    }
                }

                a:hover {
                    opacity: 0.75;
                }
            }
        }
    }
}

footer {
    background: #000;
    height: fit-content;

    .footer-container {
        margin: 0 auto;
        padding: 100px 0px;
        width: 80%;

        .footer-links {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;

            .footer-links-pages {
                flex-basis: 70%;

                ul {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    grid-gap: 25px;

                    li {
                        width: 100%;

                        h3 {
                            color: #fff;
                            font-size: 26px;
                            margin-bottom: 15px;
                        }

                        .link-pages {
                            
                            a {
                                display: block;
                                color: #dcdcdc;
                                margin-bottom: 10px;
                                transition: .3s;
                                font-size: 14px;
                            }

                            a:last-child {
                                margin-bottom: 0;
                            }

                            a:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .footer-cv-sp {
                flex-basis: 30%;
                display: flex;
                align-items: center;
                flex-direction: column;

                .footer-sp-links {
                    margin-top: 25px;
                    display: flex;

                    a {
                        background: transparent;
                        display: inline-block;
                        margin-right: 15px;
                        border-radius: 50px;
                        padding: 15px;
                        width: 60px;
                        transition: 0.3s;
                        border: 2px solid #fff;

                        .footer-sp-link-case {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            ion-icon {
                                color:#fff;
                                font-size: 24px;
                                transition: .3s;
                            }
                        }
                    }

                    a:hover {
                        opacity: 1;
                        background: #fff;
                        
                        ion-icon {
                            color: #333;
                        }
                    }
                }
            }
        }

        .footer-law {
            padding-top: 35px;
            position: relative;

            #copyright {
                color: #fff;
                font-size: 18px;
                margin-bottom: 10px;

                span {
                    color: #EE5757;
                }
            }

            p:last-child {
                color: #dcdcdc;
                transition: .3s;
                cursor: pointer;
                display: inline;
                font-size: 14px;
            }

            p:last-child:hover {
                color: #fff;
            }
        }

        .footer-law::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            height: 2px;
            width: 100%;
            background: #fff;
        }
    }
}