main section.intro-text {
  margin: 75px auto;
  width: 65%;
  text-align: center;
}

main section.intro-text .intro-text-heading {
  margin: 0 auto;
  width: 60%;
}

main section.intro-text .intro-text-heading h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.25;
}

main section.intro-text .intro-text-par {
  margin: 40px auto;
}

main section.intro-text .intro-text-par p {
  color: #fff;
  line-height: 2;
  text-align: justify;
  text-align-last: center;
}

main section.intro-text .intro-text-cta {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main section.intro-text .intro-text-cta a {
  display: inline-block;
  color: #fff;
  border: 1px solid white;
  padding: 15px 20px;
  -webkit-transition: .4s;
  transition: .4s;
  text-transform: uppercase;
}

main section.intro-text .intro-text-cta a:hover {
  padding: 15px 35px;
  background: #fff;
  color: #000;
}

main section.gallery {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  margin: 100px auto;
}

main section.gallery .gallery-img {
  height: 200vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 13px;
      grid-template-areas: "img1 img3 img7 img9" "img2 img3 img7 img9" "img8 img4 img10 img10" "img8 img5 img10 img10" "img8 img11 img11 img6";
}

main section.gallery .gallery-img a {
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

main section.gallery .gallery-img a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.gallery .gallery-img a span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 36px;
  width: 80%;
  text-align: center;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

main section.gallery .gallery-img a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

main section.gallery .gallery-img a:hover span {
  opacity: 1;
  z-index: 1;
}

main section.gallery .gallery-img a:hover::after {
  opacity: 0.7;
}

main section.gallery .gallery-img .img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

main section.gallery .gallery-img .img2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img2;
}

main section.gallery .gallery-img .img3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img3;
}

main section.gallery .gallery-img .img4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img4;
}

main section.gallery .gallery-img .img5 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: img5;
}

main section.gallery .gallery-img .img6 {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: img6;
}

main section.gallery .gallery-img .img7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: img7;
}

main section.gallery .gallery-img .img8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: img8;
}

main section.gallery .gallery-img .img9 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: img9;
}

main section.gallery .gallery-img .img10 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img10;
}

main section.gallery .gallery-img .img11 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: img11;
}

main section.contact {
  margin: 0 auto 75px;
  width: 75%;
  background: #191919;
  text-align: center;
  padding: 50px 0px;
}

main section.contact .contact-text {
  color: #fff;
}

main section.contact .contact-text h2 {
  font-size: 36px;
  font-weight: 100;
  text-transform: uppercase;
}

main section.contact .contact-text p {
  margin: 15px auto 25px;
  width: 50%;
  text-align: justify;
  text-align-last: center;
  line-height: 1.5;
}

main section.contact .contact-link a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 15px 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

main section.contact .contact-link a:hover {
  background: #fff;
  color: #000;
  padding: 15px 30px;
}

.wel {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.wel .wel-text {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}

.wel .wel-text .hide-header {
  letter-spacing: 1px;
  font-weight: 100;
  background: #000;
  overflow: hidden;
}

.wel .wel-text .hide-header .text-header {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  text-transform: uppercase;
}

.wel .wel-text .hide-header:nth-child(2) {
  margin: 25px 0px;
}

.slider-go-top {
  background: #191919;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
/*# sourceMappingURL=index.css.map */