main {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 75px auto;
  width: 90%;
}

main .timeline-base {
  position: relative;
}

main .timeline-base .timeline-container {
  position: relative;
  padding-top: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
}

main .timeline-base .timeline-container section.timeline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .timeline-base .timeline-container section.timeline-content h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 46px;
  margin-bottom: 5px;
  position: relative;
  top: -40px;
  background: #0a0a0a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
}

main .timeline-base .timeline-container .row-1-intro .intro-img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

main .timeline-base .timeline-container .row-1-intro .intro-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .timeline-base .timeline-container .row-1-intro .intro-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0px 50px 50px 50px;
  border: 1px solid #fff;
}

main .timeline-base .timeline-container .row-1-intro .intro-text h2 {
  color: #fff;
  font-size: 46px;
  margin-bottom: 5px;
  position: relative;
  top: -40px;
  background: #0a0a0a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
}

main .timeline-base .timeline-container .row-1-intro .intro-text p {
  color: #dcdcdc;
  line-height: 2;
  font-size: 18px;
  text-align: justify;
}

main .timeline-base .timeline-container .row-2-prof .prof-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main .timeline-base .timeline-container .row-2-prof .prof-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .timeline-base .timeline-container .row-2-prof .prof-text {
  border: 1px solid white;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0px 50px 50px 50px;
}

main .timeline-base .timeline-container .row-2-prof .prof-text h2 {
  color: #fff;
  font-size: 46px;
  margin-bottom: 5px;
}

main .timeline-base .timeline-container .row-2-prof .prof-text p {
  color: #dcdcdc;
  line-height: 2;
  font-size: 18px;
  text-align: justify;
}

main .timeline-base .timeline-container::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: -110px;
  background: #fff;
  border-radius: 50%;
}

main .timeline-base::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: #202020;
}
/*# sourceMappingURL=about.css.map */